

<%= render :partial => 'main/forms/parent' if current_user %>


<table id='root-comments'>
  <% @entries.each do |entry| %>
      <%= render :partial => 'main/parent', :locals => {:root_entry => entry} %>
  <% end %>
</table>

<% if @entries.count >= 10 %>
    ss
    <div class='more-entries button' id='root-show-more' data-page='1'>
      <%= t(:show_more) %>
    </div>
<% end %>



<%= render :partial => 'main/forms/response' %>
