<h1>Hello, taht is main page</h1>

<%= render :partial => 'main/forms/parent' if current_user %>


  <table id='root-comments'>
    <% @entries.each do |entry| %>
        <%= render :partial => 'main/entries/parent', :locals => {:entry => entry} %>
    <% end %>
  </table>

  <div class='more-entries button' id='main-show-more'>
    <%= t(:show_more) %>
  </div>



<%= render :partial => 'main/forms/response' %>
