<h1>Hello, taht is main page</h1>


<%= render :partial => 'main/forms/parent' if current_user %>

<div id='wall'>
  <% @entries.each do |entry| %>
    <%= render :partial => 'main/entries/parent', :locals => {:entry => entry} %>
  <% end %>
  <%= render :partial => 'main/forms/response' %>
</div>