<div id="entry-<%= entry.id %>">
  <strong><%= link_to entry.login, user_profile_path(:user_profile => entry.login) %></strong> said:
  <div>
    <%= entry.body %>
  </div>

  <% if current_user %>
      <strong class="reply">Reply</strong>
  <% end %>

  <ul class="responses">
    <% entry.children.reverse.each do |entry| %>
        <%= render :partial => 'main/entries/response', :locals => {:entry => entry} %>
    <% end %>
  </ul>

</div>
