/* Applications.css */

/***************** Rails specific *****************/
/*div.field_with_errors {display:inline} */
div.notice {color:green;}
div.alert {color:red;}
div.warning {color:orange;}
/***************** Rails specific END *****************/

/***************** Shared *****************/


div#header {
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#111));
    background-image: -moz-linear-gradient(#333,#111);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111')";
    box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
    height:33px;
    margin-bottom:25px;
}
div#header a, div#header a:visited {
    padding: 9px;
    color: #BBB;
    float:left;
    font-weight:bold; font-size:11pt;
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div#header a.hover, div#header a.hover:visited {
    background: #333;
}

a.user-profile, a.main-page-link, a.user-profile:visited, a.main-page-link:visited { color:#BBB; }


div.button { width: 100px; padding:10px;
    border-radius:2px;
    text-align:center;
    color:white; background:black;
    margin:10px;
    cursor:pointer;
}


li.error { color: red }
a.inactive {color:gray; text-decoration:none; cursor:default;}
.hidden { display:none; }
#opaco {
    background-color: #000000; left: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/* IE8 */
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 70); /* IE5+ */
    filter: alpha(opacity=70);/* IE4- */
    moz-opacity: 0; /* Mozilla */
    -khtml-opacity: 0; /* Safari */
    opacity: 0;  /* general CSS3 */
    position: absolute; top: 0; width: 100%; z-index: 10;
}
.popup textarea {
    display: block;
    width: auto;
    margin-bottom: 10px;
}
.popup-header {
    height:25px;
    margin-bottom:5px;
    text-align:right;
}
.close { cursor:pointer }
.clear-both { clear:both }
.float-left { float:left }

.popup {
    background-color: #FFFFFF; position: fixed; left:50%; top:50%; min-width: 300px; z-index: 11;
}
td.middle-vertical-align { vertical-align:middle; }
td.top-vertical-align { vertical-align:top; }
.text-align-center { text-align:center; }

/**** Bases ****/
/* body {background: url(/images/background.png)} */
body {background: white;color:black;}
/**** Bases END ****/
a.new-friends {margin-left: -4px; text-decoration:none; color:red;}

/**** Forms ****/
#response_form {display:none;}
/**** Forms ****/

/**** Posts ****/
strong.reply {cursor:pointer}

.author-male a, .author-male a:visited {color:#32A6D4}
.author-female a {color:#D94A64}
a.author-male, a:visited.author-male { color: #32A6D4}
a.author-female, a:visited.author-female { color: #D94A64 }

/*div.response div {margin-top:15px; padding: 10px;}*/

div.parent .head, div.parent .head-hidden {
    background: url(/images/arr.gif) no-repeat 34px 4px;
    overflow: hidden; height:15px; z-index:1;
}

div.parent .head-hidden { display: none; }
/* BLUE: #5599BB */
div.parent .body {background:white;color:black;width: 600px; padding:5px; margin: 10px;}
div.response .body {color:#696969; background:white; margin-top:3px; word-wrap:break-word; width:550px;}
div.parent a {text-decoration:none;}

div.response {padding:5px 10px;}

strong.cancel-upload { display: none; cursor:pointer; color:red; }
/*div.response {margin: 10px 10px 10px 25px;}*/
/**** Posts END ****/

/***************** Shared end *****************/

/***************** Profiles *****************/
div#avatar-preview {width: 200px; height: 200px; overflow:hidden;}
input#release_jcrop {display:none;}

a.main-page-link { }
img.dropdown-image { width:10px; }

ul.user-menu, div#login-form {
    margin-top:3.5px;
    list-style-type:none; float:right; position:absolute; font-size:1px;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#111));
    background-image: -moz-linear-gradient(#333,#111);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111')";
    box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
}
div#login-form { font-size: 10pt; color:white; padding:5px;}
ul.user-menu a, ul.user-menu a:visited { color:#BBB; padding:15px; font-size:11pt; text-decoration:none; }
ul.user-menu li { padding: 10px; }
li.user-menu-item-hover { background: #333; color:white; }



/* MESSAGES */
input#message_subject { padding: 5px 7px; width:290px; border:1px solid gray;}

div#recipients-container { width: 300px; padding:2px; }
#users-select {display: block; border:none;  width:290px; float:left; padding-left:2px;}
.token {float:left; background: gray; color:white; margin: 2px 3px 0 0; min-width:40px;}
.token-focused {color:white; background:blue}
.remove-token {
    cursor:pointer;
    padding: 10px;
    background: url(/images/cancel.gif) center no-repeat;
    vertical-align:top; width:20px; height:8px!important;
}
div#avatar { width:100px; height:100px; border:1px solid black; }
td#avatar-row { padding:50px 30px 50px 0; }
td#recipients-row { vertical-align:middle;padding-right:15px; }
div#new-message-form-container { margin-left:30px; }

form#single-receiver-message-form textarea { margin: 15px; }

tr.deleted-message { display:none; }

a.show-message { color:black; text-decoration:none; }
a.show-message:visited { color:black; text-decoration:none;}

td.message-details { color:gray; font-size:12px; font-weight:bold; padding:5px; }
td.message-body { padding:25px; width:300px;}
table#messages td, table#messages, th {   }
div#options { display:none; padding: 15px;  }
div#options-placeholder { height: 50px; width:600px; }
a.recover-message { color:gray; text-decoration:none; font-size:12px; border-bottom: 1px dashed gray; }
a.recover-messages { margin-left: 100px; color:gray; font-size:12px; }

table#message td { padding: 30px; }
div.message-created-at { margin-top:10px; color: gray; font-size:12px;}
div.user-name, div.message-body { margin-top: 10px; }
div.message-body { width:300px; word-wrap: break-word; }
td.message-options { padding-left: 10px; }
div#new-message-form { margin-left: 30px;}
/* MESSAGES END */

/* FRIENDSHIPS */
table#friends { border: 1px solid gray;   }
table#friends td { border-bottom: 1px solid gray;  }
td.friend-avatar { padding: 15px; }
td.friend-info, td.friend-options { padding: 25px 15px 15px 15px; }
td.friend-info { width: 150px; }
td.friend-options { min-width: 165px; }
/* FRIENDSHIPS END */

/* ALBUMS */
div#new-album-form-container { display:none; }
h1#create-album { cursor:pointer; }
div#albums { width: 800px; }
div.album { float:left; padding: 15px; margin: 10px;  width:170px; height:170px;
    border:1px solid black; -webkit-border-radius:2px; background:black;color:white;
}
div.album .album-cover { width:150px; height: 150px; }
div#album-settings {float:left; width:200px; height:500px; border-right:1px solid red; margin-top:15px;}
/* ALBUMS END */

/* PHOTOS */
form#new_photo { clear:both }
div#new-photo-comment-form { display:none }
div#photos { width: 800px; }
div.photo { float:left; margin-left: 5px; display:inline; }
/*div#current-photo { width: 600px; height:400px; position:absolute; left:630px; top:90px; display:none; }*/
strong#enable-fullscreen, strong#enable-photo-modify-mode { cursor:pointer; margin: 15px 0; color:#87ceeb; }

div#photo-ratings { background:black; color:white; font-weight:bold; width:300px; }
div#rating-items-header { background:black;border-bottom:1px solid red; }
div.primary, div.secondary { height:140px; }
div.rating-item { font-style:italic; color:green; }
span.show-primary, span.show-secondary { color:white; cursor:pointer; }

.delete-photo, .photo-settings-inactive, .photo-settings-active { width:20px; height:20px; cursor:pointer;}
.minus {margin-top:10px; width:20px; height:20px;}
.photo-modify-mode-notice { color: black; font-weight:bold; display:none; background:#6495ed; width:410px; padding:15px; margin:25px;}
.delete-photo-rotate {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90degg);
    filter: progid:DXImageTransform.Microsoft.Matrix(
        M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
    zoom: 1;
}
.photos-in-row-count { color:#4169e1; cursor:pointer; padding:15px; }
.user-photo { cursor:pointer;}

/* PHOTOS END */

/* PHOTO COMMENTS */
td.avatar-box div { margin-top: 6px;}
div#photo-comments { width:300px; }
td.photo-comment { padding: 15px;}
td.photo-comment div { margin: 10px 0 }
div.photo-comment-footer { color: gray; font-size: 11px; }
/* END */

/* PROFILE COMMENTS */
div#profile-comments, div#root-comments {width:300px;}
td.profile-comment, td.root-comment { padding: 15px; }
td.profile-comment div, td.root-comment div {margin:5px 0 ;}
div.profile-comment-footer, div.root-comment-footer { color:gray; font-size: 11px; }
div.root-comment-body, div.profile-comment-body, div.photo-comment-body {
    width:600px; word-wrap: break-word;
}
/* PROFILE COMMENTS END */

/***************** Profiles END ***************/
.ui-menu-item { font-size: 14px; font-weight:bold; background:none; color:black;}
.thin-border { border: 1px solid gray; }
.autocompletion-item { border-bottom : 1px dashed black;}
#photo-comments tr, #profile-comments tr, #root-comments tr { border-bottom:1px solid black; padding: 50px;}
