/* Applications.css */

/***************** Rails specific *****************/
/*div.field_with_errors {display:inline} */
div.notice {color:green;}
div.alert {color:red;}
div.warn {color:yellow;}
/***************** Rails specific END *****************/

/***************** Shared *****************/
a.inactive {color:gray; text-decoration:none; cursor:default;}
.hidden { display:none; }
#opaco {
    background-color: #000000; left: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";/* IE8 */
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 70); /* IE5+ */
    filter: alpha(opacity=70);/* IE4- */
    moz-opacity: 0; /* Mozilla */
    -khtml-opacity: 0; /* Safari */
    opacity: 0;  /* general CSS3 */
    position: absolute; top: 0; width: 100%; z-index: 10;
}
#popup textarea {
    display: block;
    width: auto;
    margin-bottom: 10px;
}
.clear-both { clear:both }

#popup {
    background-color: #FFFFFF; position: fixed; left:50%; top:50%; min-width: 300px; z-index: 11;
}

/**** Bases ****/
/* body {background: url(/images/background.png)} */
body {background: white;color:black;}
/**** Bases END ****/
a.new-friends {margin-left: -4px; text-decoration:none; color:red;}

/**** Forms ****/
#response_form {display:none;}
/**** Forms ****/

/**** Posts ****/
strong.reply {cursor:pointer}

.author-male a {color:#32A6D4}
.author-female a {color:#D94A64}

/*div.response div {margin-top:15px; padding: 10px;}*/

div.parent .head, div.parent .head-hidden {
    background: url(/images/arr.gif) no-repeat 34px 4px;
    overflow: hidden; height:15px; z-index:1;
}

div.parent .head-hidden { display: none; }
/* BLUE: #5599BB */
div.parent .body {background:white;color:black;width: 600px; padding:5px; margin: 10px;}
div.response .body {color:#696969; background:white; margin-top:10px;}
div.parent a {text-decoration:none;}

div.response {padding:5px 10px;}

div.parent ul.responses {background:white; color:black; width: 670px; margin: 0 0 5px 25px;}
strong.cancel-upload { display: none; cursor:pointer; color:red; }
/*div.response {margin: 10px 10px 10px 25px;}*/
/**** Posts END ****/

/***************** Shared end *****************/

/***************** Profiles *****************/
div#avatar-preview {width: 200px; height: 200px; overflow:hidden;}
input#release_jcrop {display:none;}

/* MESSAGES */
#message_subject { padding: 5px 7px; width:290px; border:1px solid gray;}
.recipients-container { width: 300px; padding:2px; }
#message_recipient {display: block; border:none;  width:290px; float:left; padding-left:2px;}
.token {float:left; background: gray; color:white; margin: 2px 3px 0 0; min-width:40px;}
.token-focused {color:white; background:blue}
.remove-token {
    cursor:pointer;
    padding: 10px;
    background: url(/images/cancel.gif) center no-repeat;
    vertical-align:top; width:20px; height:8px!important;
}
/* MESSAGES END */

/***************** Profiles END ***************/
.ui-menu-item { font-size: 14px; font-weight:bold; background:none; color:black;}
.wtf { border-bottom : 1px dashed black;}