/* Applications.css */

/***************** Rails specific *****************/
/*div.field_with_errors {display:inline} */
div.notice {color:green}
div.alert {color:red}
/***************** Rails specific END *****************/

/***************** Shared *****************/
/**** Bases ****/
/* body {background: url(/images/background.png)} */
body {background: white;color:black;}
/**** Bases END ****/

/**** Forms ****/
#response_form {display:none;}
/**** Forms ****/

/**** Posts ****/
strong.reply {cursor:pointer}

.author-male a {color:#32A6D4}
.author-female a {color:#D94A64}

/*div.response div {margin-top:15px; padding: 10px;}*/

div.parent .head, div.parent .head-hidden {
    background: url(/images/arr.gif) no-repeat 34px 4px;
    overflow: hidden; height:15px; z-index:1;
}

div.parent .head-hidden { display: none; }
/* BLUE: #5599BB */
div.parent .body {background:white;color:black;width: 600px; padding:5px; margin: 10px;}
div.response .body {color:#696969; background:white; margin-top:10px;}
div.parent a {text-decoration:none;}

div.response {padding:5px 10px;}

div.parent ul.responses {background:white; color:black; width: 670px; margin: 0 0 5px 25px;}
strong.cancel-upload { display: none; cursor:pointer; color:red; }
/*div.response {margin: 10px 10px 10px 25px;}*/
/**** Posts END ****/

/***************** Shared end *****************/

/***************** Profiles *****************/
div#avatar-preview {width: 200px; height: 200px; overflow:hidden;}
input#release_jcrop {display:none;}
/***************** Profiles END ***************/
