<table>
  <tr>
    <td class='photo' id='photo-<%= photo.id %>'>
      <%= image_tag photo.photo.url(:medium) %>
    </td>
    <td style="vertical-align:middle;">
      lolo
    </td>
  </tr>
</table>

