<div id='user-header'>
  <%= link_to t(:edit_details), edit_user_profile_path %>
  <% if current_user.new_friends.count > 0 %>
    <%= link_to t(:friends), user_friends_path(:user_profile => current_user.login) %> 
    <%= link_to "(#{current_user.new_friends.count})", user_friends_path(:user_profile => current_user.login),
      :class => 'new-friends'%>
  <% else %>
    <%= link_to t(:friends), user_friends_path(:user_profile => current_user.login) %>
  <% end %>
</div>
